# ── MongoDB ──────────────────────────────────────────────────────
MONGODB_URI=mongodb+srv://khandelwalnoy_db_user:9ulDZZzOWkFQxkGY@cardioxai-cluster.og0jnu3.mongodb.net/?appName=cardioxai-cluster
MONGODB_DB_NAME=cardioxai

# ── JWT (used in later sprints) ──────────────────────────────────
JWT_SECRET=LiQuzB7UrtZMLdeF9ht9KJ6MxE6b02BFPY2H6c51_mSQiBvBhsvXJftog7HOqPsf

# ── App ──────────────────────────────────────────────────────────
DEBUG=false
